body {
  background: linear-gradient(90deg, transparent, rgb(188, 224, 170));
  color: rgb(53, 53, 54);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
  margin: 1em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid rgb(53, 53, 54);
  background: transparent;
  padding: 1em;
  margin: 1em;
}
.num-input {
  border: 2px solid rgb(53, 53, 54);
  background: transparent;
  padding: 6em 1em;
  margin: 1em;
  text-align: center;
  border-radius: 50%;
  font-size: 22px;
}

input:focus {
  outline: none;
}

h3 {
  font-weight: 500;
  font-size: 18px;
}
.submit-btn {
  border: 1.5px solid rgb(53, 53, 54);
  padding: 10px 15px;
  background: transparent;
  border-radius: 15px;
  display: block;
  margin: 1em;
}
